.ul-box{
	overflow:auto;
}

.classifyUl{
	display: flex;
	width: 200%;
	height: 3rem;
	justify-content: space-around;
	margin-bottom:1rem !important;
	margin-top: 1rem;
}

.classifyUl>li{
	line-height: 3rem;
	font-size: 1.6rem;
	color: #000; 
}

.kindUl>li{
	list-style: none;
}

.kindUl>img{
	width: 80%;
	margin: 0 auto;
}
