.footMain{
	height: 5rem;
	background: #fcc;
	display: flex;
	justify-content: space-around;
}

.footMain>div{
	width: 12.5rem;
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	font-size: 1.5rem;
	text-align: center;
}

.icon-shouye,.icon-fenlei1,.icon-geren{
	margin-left: 0 !important;
	width: 100%;
	font-size: 2.2rem;
	height: 2.5rem;
}
